integrations/n8n/workflows/bind-create-order.json
{
  "name": "BIND - Create Order (REAL API)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM pgmq.read(\n    'requisition_outbox_queue',\n    300,\n    10\n);",
        "options": {}
      },
      "id": "read-queue",
      "name": "Read PGMQ Queue",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "if-has-messages",
      "name": "IF - Has Messages?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [850, 200]
    },
    {
      "parameters": {
        "jsCode": "const message = $input.item.json.message;\n\nreturn {\n  msg_id: $input.item.json.msg_id,\n  read_ct: $input.item.json.read_ct,\n  requisition_id: message.requisition_id,\n  internal_folio: message.internal_folio,\n  client_id: message.company_bind_client_id,\n  location_id: message.company_bind_location_id,\n  warehouse_id: message.company_bind_warehouse_id,\n  price_list_id: message.company_bind_price_list_id,\n  currency_id: message.company_bind_currency_id,\n  address_id: message.company_bind_address_id,\n  comments: message.comments || '',\n  total_amount: message.total_amount,\n  items: message.items\n};"
      },
      "id": "set-variables",
      "name": "Set Variables",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// CONSTRUIR PAYLOAD SEGÚN ESTRUCTURA REAL BIND API\n// ============================================\n\nconst items = $input.item.json.items;\nconst requisitionData = $input.item.json;\n\n// Mapear productos al formato exacto de BIND\nconst bindProducts = items.map(item => ({\n  ID: item.product_bind_id,\n  Price: parseFloat(item.unit_price),\n  Qty: parseInt(item.quantity),\n  VAT: 0,  // IVA en 0 por defecto\n  Comments: \"\",\n  Unit: item.unit || \"unidad\"\n}));\n\n// Payload exacto según ingeniería inversa\nconst bindPayload = {\n  AddressID: requisitionData.address_id,\n  ClientID: requisitionData.client_id,\n  CurrencyID: requisitionData.currency_id,\n  LocationID: requisitionData.location_id,\n  OrderDate: new Date().toISOString(),\n  PriceListID: requisitionData.price_list_id,\n  WarehouseID: requisitionData.warehouse_id,\n  Comments: requisitionData.comments,\n  PurchaseOrder: null,\n  Products: bindProducts,\n  Services: []\n};\n\nreturn {\n  json: bindPayload\n};"
      },
      "id": "build-bind-payload",
      "name": "Build BIND Payload (REAL)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.bind.com.mx/api/Orders",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000,
          "retry": {
            "retry": {
              "maxRetries": 3,
              "retryOnResponseCodes": [408, 429, 500, 502, 503, 504],
              "waitBetweenRetries": 2000
            }
          },
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "call-bind-api",
      "name": "POST - Create Order in BIND",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "bind-api-token",
          "name": "Bind API Authorization"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parsear respuesta de BIND\nconst bindResponse = $input.first().json;\n\n// Bind retorna: { \"status\": \"success\", \"data\": \"order-id-uuid\" }\nlet orderId = null;\n\nif (typeof bindResponse === 'string') {\n  try {\n    const parsed = JSON.parse(bindResponse);\n    orderId = parsed.data;\n  } catch (e) {\n    // Si no es JSON, tal vez sea el ID directamente\n    orderId = bindResponse;\n  }\n} else if (bindResponse.data) {\n  orderId = bindResponse.data;\n} else if (bindResponse.ID) {\n  orderId = bindResponse.ID;\n}\n\nif (!orderId) {\n  throw new Error('❌ No se pudo obtener Order ID de la respuesta de BIND');\n}\n\nreturn {\n  json: {\n    success: true,\n    bind_order_id: orderId,\n    requisition_id: $('Set Variables').first().json.requisition_id\n  }\n};"
      },
      "id": "parse-bind-response",
      "name": "Parse BIND Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-success",
      "name": "IF - Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1850, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE requisitions\nSET\n  integration_status = 'synced',\n  bind_order_id = '{{ $json.bind_order_id }}',\n  bind_synced_at = NOW(),\n  updated_at = NOW()\nWHERE id = '{{ $json.requisition_id }}'::UUID;",
        "options": {}
      },
      "id": "update-success",
      "name": "Update Requisition - Success",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2050, 100],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO notifications (user_id, company_id, type, title, message, link)\nSELECT\n  r.created_by,\n  r.company_id,\n  'success',\n  'Pedido creado en Bind ERP',\n  'Tu requisición ' || r.internal_folio || ' fue procesada. Folio Bind: {{ $('Parse BIND Response').item.json.bind_order_id }}',\n  '/requisitions/' || r.id\nFROM requisitions r\nWHERE r.id = '{{ $('Parse BIND Response').item.json.requisition_id }}'::UUID;",
        "options": {}
      },
      "id": "create-notification-success",
      "name": "Create Notification - Success",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2250, 100],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pgmq.delete(\n  'requisition_outbox_queue',\n  {{ $('Set Variables').item.json.msg_id }}\n);",
        "options": {}
      },
      "id": "delete-message-success",
      "name": "Delete Message - Success",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2450, 100],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE requisitions\nSET\n  integration_status = 'rejected',\n  bind_rejection_reason = 'Error de BIND API: {{ $json.error || $json.message || \"Error desconocido\" }}',\n  updated_at = NOW()\nWHERE id = '{{ $('Set Variables').item.json.requisition_id }}'::UUID;",
        "options": {}
      },
      "id": "update-failed",
      "name": "Update Requisition - Failed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2050, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO notifications (user_id, company_id, type, title, message, link)\nSELECT\n  p.id,\n  r.company_id,\n  'danger',\n  'Error en integración Bind',\n  'La requisición ' || r.internal_folio || ' no pudo ser procesada en Bind ERP.',\n  '/admin/bind-integration'\nFROM requisitions r\nJOIN profiles p ON p.company_id = r.company_id AND p.role_v2 = 'admin'\nWHERE r.id = '{{ $('Set Variables').item.json.requisition_id }}'::UUID\nLIMIT 1;",
        "options": {}
      },
      "id": "create-notification-failed",
      "name": "Create Notification - Failed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2250, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pgmq.delete(\n  'requisition_outbox_queue',\n  {{ $('Set Variables').item.json.msg_id }}\n);",
        "options": {}
      },
      "id": "delete-message-failed",
      "name": "Delete Message - Failed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2450, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-data",
      "name": "No Data",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Read PGMQ Queue", "type": "main", "index": 0}]]
    },
    "Read PGMQ Queue": {
      "main": [[{"node": "IF - Has Messages?", "type": "main", "index": 0}]]
    },
    "IF - Has Messages?": {
      "main": [
        [{"node": "Split In Batches", "type": "main", "index": 0}],
        [{"node": "No Data", "type": "main", "index": 0}]
      ]
    },
    "Split In Batches": {
      "main": [[{"node": "Set Variables", "type": "main", "index": 0}]]
    },
    "Set Variables": {
      "main": [[{"node": "Build BIND Payload (REAL)", "type": "main", "index": 0}]]
    },
    "Build BIND Payload (REAL)": {
      "main": [[{"node": "POST - Create Order in BIND", "type": "main", "index": 0}]]
    },
    "POST - Create Order in BIND": {
      "main": [[{"node": "Parse BIND Response", "type": "main", "index": 0}]]
    },
    "Parse BIND Response": {
      "main": [[{"node": "IF - Success?", "type": "main", "index": 0}]]
    },
    "IF - Success?": {
      "main": [
        [{"node": "Update Requisition - Success", "type": "main", "index": 0}],
        [{"node": "Update Requisition - Failed", "type": "main", "index": 0}]
      ]
    },
    "Update Requisition - Success": {
      "main": [[{"node": "Create Notification - Success", "type": "main", "index": 0}]]
    },
    "Create Notification - Success": {
      "main": [[{"node": "Delete Message - Success", "type": "main", "index": 0}]]
    },
    "Delete Message - Success": {
      "main": [[{"node": "Split In Batches", "type": "main", "index": 0}]]
    },
    "Update Requisition - Failed": {
      "main": [[{"node": "Create Notification - Failed", "type": "main", "index": 0}]]
    },
    "Create Notification - Failed": {
      "main": [[{"node": "Delete Message - Failed", "type": "main", "index": 0}]]
    },
    "Delete Message - Failed": {
      "main": [[{"node": "Split In Batches", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-11-02T00:00:00.000Z",
      "updatedAt": "2025-11-02T00:00:00.000Z",
      "id": "bind",
      "name": "BIND"
    },
    {
      "createdAt": "2025-11-02T00:00:00.000Z",
      "updatedAt": "2025-11-02T00:00:00.000Z",
      "id": "critical",
      "name": "Critical"
    },
    {
      "createdAt": "2025-11-02T00:00:00.000Z",
      "updatedAt": "2025-11-02T00:00:00.000Z",
      "id": "production",
      "name": "Production"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-11-02T00:00:00.000Z",
  "versionId": "2"
}
