integrations/n8n/workflows/WF-03-Products-Sync-from-BIND.json
{
  "name": "WF-03: Sync Products from BIND",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "schedule-daily",
      "name": "Schedule Daily 2am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BIND_API_URL }}/products",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "company_id",
              "value": "={{ $env.BIND_COMPANY_ID }}"
            },
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "per_page",
              "value": "100"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "fetch-products",
      "name": "Fetch Products from BIND",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "bind-api-auth",
          "name": "BIND ERP API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract products array from response\nconst response = $input.first().json;\nconst products = response.products || response.data || [];\n\nif (products.length === 0) {\n  return [];\n}\n\n// Transform each product\nreturn products.map(product => ({\n  json: {\n    bind_id: product.bind_id || product.id,\n    sku: product.sku,\n    name: product.name,\n    description: product.description || null,\n    price: parseFloat(product.price || 0),\n    stock: parseInt(product.stock || 0),\n    unit: product.unit || 'pza',\n    category: product.category || null,\n    image_url: product.image_url || null,\n    is_active: product.is_active !== false,\n    sync_timestamp: new Date().toISOString()\n  }\n}));"
      },
      "id": "transform-products",
      "name": "Transform Products",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "if-has-products",
      "name": "Has Products?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "message",
              "name": "message",
              "value": "No products returned from BIND API",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "no-products-end",
      "name": "No Products - End",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1050, 500]
    },
    {
      "parameters": {
        "mode": "each",
        "batchSize": 10,
        "options": {}
      },
      "id": "loop-products",
      "name": "Loop Products (Batch 10)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO products (\n  company_id,\n  bind_id,\n  sku,\n  name,\n  description,\n  price,\n  stock,\n  unit,\n  category,\n  image_url,\n  is_active,\n  bind_last_synced_at,\n  bind_sync_enabled\n) VALUES (\n  '{{ $env.COMPANY_ID }}'::uuid,\n  '{{ $json.bind_id }}',\n  '{{ $json.sku }}',\n  '{{ $json.name }}',\n  {{ $json.description ? `'${$json.description}'` : 'NULL' }},\n  {{ $json.price }},\n  {{ $json.stock }},\n  '{{ $json.unit }}',\n  {{ $json.category ? `'${$json.category}'` : 'NULL' }},\n  {{ $json.image_url ? `'${$json.image_url}'` : 'NULL' }},\n  {{ $json.is_active }},\n  NOW(),\n  true\n)\nON CONFLICT (company_id, bind_id)\nDO UPDATE SET\n  sku = EXCLUDED.sku,\n  name = EXCLUDED.name,\n  description = EXCLUDED.description,\n  price = EXCLUDED.price,\n  stock = EXCLUDED.stock,\n  unit = EXCLUDED.unit,\n  category = EXCLUDED.category,\n  image_url = EXCLUDED.image_url,\n  is_active = EXCLUDED.is_active,\n  bind_last_synced_at = NOW(),\n  updated_at = NOW()\nRETURNING id, bind_id, name;",
        "options": {}
      },
      "id": "upsert-product",
      "name": "Upsert Product",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1250, 200],
      "credentials": {
        "postgres": {
          "id": "supabase-production",
          "name": "Supabase Production"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "synced",
              "name": "synced",
              "value": "={{ $json.id ? 'success' : 'failed' }}",
              "type": "string"
            },
            {
              "id": "product_name",
              "name": "product_name",
              "value": "={{ $('Transform Products').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "track-result",
      "name": "Track Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1450, 200]
    },
    {
      "parameters": {},
      "id": "loop-back",
      "name": "Loop Back",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "jsCode": "// After all products synced, generate summary\nconst allResults = $input.all();\n\nconst summary = {\n  workflow: 'WF-03 Products Sync',\n  execution_id: $execution.id,\n  started_at: $execution.startedAt,\n  finished_at: new Date().toISOString(),\n  total_products: allResults.length,\n  successful: allResults.filter(r => r.json.synced === 'success').length,\n  failed: allResults.filter(r => r.json.synced === 'failed').length\n};\n\nreturn { json: summary };"
      },
      "id": "generate-summary",
      "name": "Generate Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 200]
    }
  ],
  "connections": {
    "Schedule Daily 2am": {
      "main": [
        [
          {
            "node": "Fetch Products from BIND",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Products from BIND": {
      "main": [
        [
          {
            "node": "Transform Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Products": {
      "main": [
        [
          {
            "node": "Has Products?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Products?": {
      "main": [
        [
          {
            "node": "Loop Products (Batch 10)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Products - End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Products (Batch 10)": {
      "main": [
        [
          {
            "node": "Upsert Product",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Product": {
      "main": [
        [
          {
            "node": "Track Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Track Result": {
      "main": [
        [
          {
            "node": "Loop Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Back": {
      "main": [
        [
          {
            "node": "Loop Products (Batch 10)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "BIND Integration",
      "id": "bind-integration"
    },
    {
      "name": "Products",
      "id": "products"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-11-05T00:00:00.000Z",
  "versionId": "1"
}
