integrations/n8n/workflows/WF-03-Products-Sync-from-BIND.json
{
  "name": "WF-03: Sync Products from BIND",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "5 2 * * *"
            }
          ]
        }
      },
      "id": "schedule-daily",
      "name": "Schedule Daily 02:05",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BIND_API_URL }}/Products",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "$top",
              "value": "={{ $env.BIND_PAGE_SIZE || 500 }}"
            },
            {
              "name": "$skip",
              "value": "0"
            },
            {
              "name": "$orderby",
              "value": "LastUpdate desc"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "fullResponse": false
        }
      },
      "id": "fetch-products",
      "name": "Fetch Products from BIND",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "bind-api-auth",
          "name": "BIND ERP API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst list = response.value || response.products || response.data || [];\n\nconst normalized = list\n  .map((product) => {\n    const bindId = product.ID || product.id || product.BindID || product.ProductID;\n    if (!bindId) {\n      return null;\n    }\n\n    const rawPrice = product.Cost ?? product.Price ?? product.UnitPrice ?? 0;\n    const rawStock = product.CurrentInventory ?? product.Stock ?? product.Quantity ?? 0;\n\n    return {\n      bind_id: String(bindId),\n      sku: product.Code || product.SKU || product.Number || null,\n      name: product.Title || product.Name || product.ProductName || product.Description || `Producto ${bindId}` ,\n      description: product.Description || product.LongDescription || null,\n      price: Number(rawPrice) || 0,\n      stock: Number(rawStock) || 0,\n      unit: product.Unit || product.UnitName || 'pza',\n      category: product.Category1Name || product.Category1 || product.Category || null,\n      image_url: product.ImageUrl || product.ImageURL || null,\n      is_active: product.IsActive !== false && product.Status !== 'Inactive',\n      bind_updated_at: product.LastUpdate || product.UpdateDate || product.UpdatedAt || null,\n      vat_rate: product.ChargeVAT ? 0.16 : 0,\n      currency: product.CurrencyCode || 'MXN',\n      sync_timestamp: new Date().toISOString()\n    };\n  })\n  .filter(Boolean);\n\nreturn normalized.map((json) => ({ json }));"
      },
      "id": "transform-products",
      "name": "Normalize Products",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "if-has-products",
      "name": "Has Products?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "message",
              "name": "message",
              "value": "BIND devolvió 0 productos",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "no-products",
      "name": "No Products",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1120, 480]
    },
    {
      "parameters": {
        "mode": "each",
        "batchSize": 10,
        "options": {}
      },
      "id": "iterate-products",
      "name": "Iterate Products",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1140, 220]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH incoming AS (\n  SELECT\n    '{{ $json | jsonStringify }}'::jsonb AS data,\n    '{{ $env.COMPANY_ID }}'::uuid AS company_id\n),\nupsert AS (\n  INSERT INTO public.products (\n    company_id,\n    bind_id,\n    sku,\n    name,\n    description,\n    price,\n    stock,\n    unit,\n    category,\n    image_url,\n    is_active,\n    bind_last_synced_at,\n    bind_sync_enabled,\n    updated_at\n  )\n  SELECT\n    incoming.company_id,\n    data->>'bind_id',\n    COALESCE(NULLIF(data->>'sku',''), data->>'bind_id'),\n    COALESCE(data->>'name', 'Producto sin nombre'),\n    NULLIF(data->>'description',''),\n    COALESCE(NULLIF(data->>'price','')::numeric, 0),\n    COALESCE(NULLIF(data->>'stock','')::numeric, 0)::integer,\n    COALESCE(NULLIF(data->>'unit',''), 'pza'),\n    NULLIF(data->>'category',''),\n    NULLIF(data->>'image_url',''),\n    COALESCE((data->>'is_active')::boolean, true),\n    timezone('utc', now()),\n    true,\n    timezone('utc', now())\n  FROM incoming\n  ON CONFLICT (company_id, bind_id)\n  DO UPDATE SET\n    sku = EXCLUDED.sku,\n    name = EXCLUDED.name,\n    description = EXCLUDED.description,\n    price = EXCLUDED.price,\n    stock = EXCLUDED.stock,\n    unit = EXCLUDED.unit,\n    category = EXCLUDED.category,\n    image_url = EXCLUDED.image_url,\n    is_active = EXCLUDED.is_active,\n    bind_last_synced_at = timezone('utc', now()),\n    bind_sync_enabled = true,\n    updated_at = timezone('utc', now())\n  RETURNING id, company_id, bind_id, sku, name, price, stock, updated_at\n)\nSELECT\n  upsert.*,\n  incoming.data AS source_payload\nFROM upsert\nJOIN incoming ON true;",
        "options": {}
      },
      "id": "upsert-product",
      "name": "Upsert Product",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1380, 220],
      "credentials": {
        "postgres": {
          "id": "supabase-production",
          "name": "Supabase Production"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH payload AS (\n  SELECT\n    '{{ $env.COMPANY_ID }}'::uuid AS company_id,\n    '{{ $('Iterate Products').item.json.bind_id }}' AS bind_id,\n    '{{ $('Iterate Products').item.json | jsonStringify }}'::jsonb AS request_payload,\n    '{{ $json | jsonStringify }}'::jsonb AS response_payload\n)\nINSERT INTO public.bind_sync_logs (\n  company_id,\n  sync_type,\n  entity_type,\n  entity_id,\n  bind_id,\n  status,\n  request_payload,\n  response_payload,\n  synced_at,\n  created_at\n)\nSELECT\n  company_id,\n  'products',\n  'product',\n  '{{ $json.id }}'::uuid,\n  bind_id,\n  'success',\n  request_payload,\n  response_payload,\n  timezone('utc', now()),\n  timezone('utc', now())\nFROM payload\nRETURNING id, status, bind_id, entity_id;",
        "options": {}
      },
      "id": "log-product-sync",
      "name": "Log Product Sync",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1610, 220],
      "credentials": {
        "postgres": {
          "id": "supabase-production",
          "name": "Supabase Production"
        }
      }
    },
    {
      "parameters": {},
      "id": "loop-back",
      "name": "Loop Back",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1810, 220]
    },
    {
      "parameters": {
        "jsCode": "const logs = $items('Log Product Sync');\nconst total = logs.length;\nconst failed = logs.filter((item) => item.json?.status !== 'success').length;\n\nreturn {\n  json: {\n    workflow: 'WF-03 Products Sync',\n    execution_id: $execution.id,\n    started_at: $execution.startedAt,\n    finished_at: new Date().toISOString(),\n    total_synced: total,\n    failed,\n    status: failed > 0 ? 'failed' : (total === 0 ? 'skipped' : 'success')\n  }\n};"
      },
      "id": "generate-summary",
      "name": "Generate Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2010, 260]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.bind_sync_logs (\n  company_id,\n  sync_type,\n  entity_type,\n  status,\n  request_payload,\n  response_payload,\n  synced_at,\n  created_at\n) VALUES (\n  '{{ $env.COMPANY_ID }}'::uuid,\n  'products',\n  'workflow',\n  CASE WHEN {{ $json.failed }} > 0 THEN 'failed'\n       WHEN {{ $json.total_synced }} = 0 THEN 'pending'\n       ELSE 'success'\n  END,\n  json_build_object(\n    'trigger', 'cron',\n    'page_size', {{ $env.BIND_PAGE_SIZE || 500 }}\n  ),\n  '{{ $json | jsonStringify }}'::jsonb,\n  timezone('utc', now()),\n  timezone('utc', now())\n)\nRETURNING id, status;",
        "options": {}
      },
      "id": "log-summary",
      "name": "Log Summary",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2230, 260],
      "credentials": {
        "postgres": {
          "id": "supabase-production",
          "name": "Supabase Production"
        }
      }
    }
  ],
  "connections": {
    "Schedule Daily 02:05": {
      "main": [
        [
          {
            "node": "Fetch Products from BIND",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Products from BIND": {
      "main": [
        [
          {
            "node": "Normalize Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Products": {
      "main": [
        [
          {
            "node": "Has Products?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Products?": {
      "main": [
        [
          {
            "node": "Iterate Products",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iterate Products": {
      "main": [
        [
          {
            "node": "Upsert Product",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Product": {
      "main": [
        [
          {
            "node": "Log Product Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Product Sync": {
      "main": [
        [
          {
            "node": "Loop Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Back": {
      "main": [
        [
          {
            "node": "Iterate Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary": {
      "main": [
        [
          {
            "node": "Log Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "BIND Integration",
      "id": "bind-integration"
    },
    {
      "name": "Products",
      "id": "products"
    }
  ],
  "triggerCount": 1
}
